
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/photo.JPG" alt="Photo Annas" height="150">
            <h1 class="display-4">Annas</h1>
            <p class="lead">Student</p>
        </div>
    </div>
</div>
